.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-block: 40px;
}
.image {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 24px #0005,
    0 0 6px #fff;
}

.title {
  font-weight: bold;
  font-size: 23px;
  font-weight: 900;
  text-shadow: 0 0 6px white;
}
