.inputWrapper {
  width: 100%;
  position: relative;
  max-width: 200px;
  & input {
    height: 30px;
    width: 100%;
    border-radius: 16px;
    background-color: #3c3c36;
    color: #dee1d6;
    padding-inline: 16px;
    font-size: 1.4rem;
    font-weight: 700;
  }
  & button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #00000061;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.709' height='14.697' viewBox='0 0 13.709 14.697'%3E%3Cg id='그룹_77' data-name='그룹 77' transform='translate(19272.791 15570.887)'%3E%3Cpath id='패스_26' data-name='패스 26' d='M-19266.43-15569.473l5.934,5.935-5.934,5.935' fill='none' stroke='%23707070' stroke-linecap='round' stroke-width='2'/%3E%3Cpath id='패스_27' data-name='패스 27' d='M-19271.037-15563.538h11.295' transform='translate(-0.754)' fill='none' stroke='%23707070' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center;
    border: 1px solid #ffffff40;
    background-repeat: no-repeat;
    position: absolute;
    right: 40px;
    right: 5px;
    padding: 1px 6px;
    top: 2px;
  }
}
